@import url('https://fonts.googleapis.com/css2?family=Joan&family=Lato:wght@100;300;400;700&family=League+Spartan:wght@200;400;600;800&family=Montserrat:wght@100;400&family=Nunito:wght@200;300;400;600;700&family=Oxygen:wght@400;700&family=Poppins:wght@300;400;500;600;700&family=Roboto:wght@300;400;700&display=swap');



.box{
    display: flex;
    height: 400px;
    max-width: 100%;
    margin: auto;
    margin-top: 40px;
    border-radius: 5px;
    background-image: url(/360_F_310306117_E2nCcQkBbWBhCrZq8V3x00PvIW4sBisF.jpg);
    background-size: cover;
}

.box .col-4{
    /* border: 1px solid black; */
    height: 180px;
    width: 30%;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 150px;
    border-radius: 5PX;
    text-align: center;
    cursor: pointer;
    background: radial-gradient(rgb(82, 81, 81),black);
    box-shadow: rgba(255, 255, 255, 0.25) 0px 54px 55px, rgba(255, 255, 255, 0.12) 0px -12px 30px, rgba(255, 255, 255, 0.12) 0px 4px 6px, rgba(255, 255, 255, 0.17) 0px 12px 13px, rgba(255, 255, 255, 0.09) 0px -3px 5px;
}

.col-4 h2{
    font-family: 'Lato', sans-serif;
    color: white;
}

.col-4 h2:hover{
    color: rgb(119, 116, 116);
}

.col-4 h5{
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    color: white;
}

.col-4 h5:hover{
    color: rgb(119, 116, 116);
}

.col-4 p{
    font-family: 'Lato', sans-serif;
    color: white;
}

.col-4 p:hover{
    color: rgb(119, 116, 116);
}

